*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.thank-you-box{
    display: none;
    text-align: center;
}

.rating-box{
    display: block;
}

ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
}

body{
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p, .circle{
    color: hsl(217, 12%, 63%);
    margin-bottom: 20px;
}

p{
    line-height: 25px;
    font-size: 15px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    background-color: hsl(213, 19%, 18%);
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
}

h1{
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

/* challenge 1, padding is expanding the main-content-box, instead of compressing the content inside it */
/* box-sizing: border-box seems to fix it */
.main-content-box{
    width: 415px;
    height: 410px;
    border-radius: 30px;
    padding: 35px;
    background:-webkit-radial-gradient(top, hsl(213, 19%, 18%),hsl(210, 8%, 10%))
}

.btn-submit{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);;
    height: 50px;
    width: 100%;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: medium;
    letter-spacing: 1px;
    border: 0;
}

.btn:hover{
    cursor: pointer;
}

.btn-submit:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.btn.circle:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);;
}

/* aqui que entra o js */
.selected{
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);;
}

.score-rating{
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    margin: 25px 50px;
    border-radius: 30px;
    padding: 5px;
}